# ============================================================
#  .gitignore
# ============================================================


# ------------------------------------------------------------
#  APPLICATION DATA
# ------------------------------------------------------------
BraveSoftware/
discord/
evolution/
ibus/
pulse/
obsidian/


# ------------------------------------------------------------
#  SYSTEM & DESKTOP
# ------------------------------------------------------------
dconf/
enchant/
gtk-3.0/
systemd/
tiling-assistant/


# ------------------------------------------------------------
#  GNOME CONFIG & DISPLAY
# ------------------------------------------------------------
background
monitors.xml
monitors.xml~
gnome-initial-setup-done
GNOME-xdg-terminals.list


# ------------------------------------------------------------
#  XDG & USER DIRS
# ------------------------------------------------------------
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
ubuntu-xdg-terminals.list
mimeapps.list


# ------------------------------------------------------------
#  MISC
# ------------------------------------------------------------
.gsd-keyboard.settings-ported

# ============================================================
#  END OF .gitignore
# ============================================================
